version: '3'

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alerts.yml:/etc/prometheus/alerts.yml
      - ./prometheus_data:/prometheus
    depends_on:
      - exporter

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    depends_on:
      - prometheus

  exporter:
    build: ./panderas_exporter
    container_name: panderas_exporter
    ports:
      - "8000:8000"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3030:3000"  # <-- changed host port to 3030
    volumes:
      - ./grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
